*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.corpo{
    padding: 1rem;
}

.cabecalho{
    background-color: grey;
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    padding: 1rem;
}
.sessao{
    display: flex;
    width: calc(100% - 2rem);
    padding: 1rem;
    background-color: grey;
    margin: 1rem 0 1rem 0;
    border-radius: 5px;
    gap: 1rem;
}
.titulo-nav{
    text-align: center;
    color: aliceblue;
    border-radius: 5px;
    width: 15%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.sessao-semantica{
    width: 70%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid black;
    padding: 1rem;
    flex-direction: column;
}

.articles-div{
    /* text-align: center; */
    /* border: 1px solid black; */
    /* border-radius: 5px; */
    /* padding: 1rem; */
    /* width: calc(100% - 2rem); */
    /* margin: 1rem; */
    /* background-color: lightgrey; */
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 1rem; */
}
.anuncios{
    width: 15%;
    border: 1px solid black;
    text-align: center;
    color:aliceblue;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.imagem{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.texto-vert{
    writing-mode: vertical-rl;
}

.rodape{
    background-color: gray;
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}